<div>
$body-font-family:
</div>
<div>
  <span class="primary-font">"Helvetica Neue", </span><br>
  <span class="fallback-font">Helvetica, </span><br>
  <span class="fallback-font-2">Roboto, </span><br>
  <span class="fallback-font-3">Arial, </span><br>
  <span class="fallback-font-base">sans-serif;</span>
</div>

<hr>

<div><em>
  <span class="primary-font">HelveticaNeue </span><br>
  <span class="fallback-font">"Helvetica", </span><br>
  <span class="fallback-font-2">"Roboto", </span><br>
  <span class="fallback-font-3">"Arial", </span><br>
  <span class="fallback-font-base">sans-serif;</span>
</em></div>

<hr>

<div><strong>
  <span class="primary-font">HelveticaNeue: </span><br>
  <span class="fallback-font">"Helvetica", </span><br>
  <span class="fallback-font-2">"Roboto", </span><br>
  <span class="fallback-font-3">"Arial", </span><br>
  <span class="fallback-font-base">sans-serif;</span>
</strong></div>

<hr>

<div>
  <h1>
    h1 {<br>
    font-size: 3.052em;<br>
    margin-top: 0;<br> {{! this could use some work so it's not repeated below }}
    }
  </h1>

  <h2>
    h2 {<br>
      default<br> {{! needs work }}
    }
  </h2>

  <h3>
    h3
  </h3>

  h1, h2, h3, h4, h5 {<br>
  margin: 2.75rem 0 1rem;<br>
  line-height: 1.15<br>
  }
  <span class="primary-font">html font-size: 16px</span><br>
</div>