$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

body {
  font-family: $body-font-family;
}

.primary-font {
  font-family: 'Helvetica Neue';
}

.fallback-font {
  font-family: Helvetica;
}

.fallback-font-2 {
  font-family: Roboto;
}

.fallback-font-3 {
  font-family: Arial;
}

.fallback-font-base {
  font-family: sans-serif;
}
